<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TblCreditUserMapper">

	<resultMap type="TblCreditUser" id="TblCreditUserResult">
		<result property="creditNum"   column="order_num"   />
		<result property="userId"     column="user_id"      />
		<result property="creditType"      column="creditType"       />
		<result property="id"      column="id"       />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>


	<insert id="insertTblCreditUser" parameterType="TblCreditUser">
		insert into tbl_credit_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="creditNum != null and creditNum != 0">credit_num,</if>
		<if test="userId != null and userId != 0">user_id,</if>
		<if test="creditType != null and creditType != ''">credit_type,</if>
		<if test="updateTime != null and updateTime != ''">update_time,</if>
		<if test="updateBy != null and updateBy != ''">update_by,</if>
		<if test="createTime != null">create_time,</if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="creditNum != null and creditNum != 0">#{creditNum},</if>
		<if test="userId != null and userId != 0">#{userId},</if>
		<if test="creditType != null and creditType != ''">#{creditType},</if>
		<if test="updateTime != null and updateTime != ''">#{updateTime},</if>
		<if test="updateBy != null and updateBy != ''">#{updateBy},</if>
		<if test="createTime != null">#{createTime},</if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		</trim>
	</insert>

	<sql id="selectCreditUserVo">
		select id, user_id, credit_num, credit_type,update_time, update_by, create_time, create_by from tbl_credit_user
	</sql>
    <select id="selectTblCreditUserList" resultType="com.ruoyi.system.domain.TblCreditUser">
		<include refid="selectCreditUserVo"/>
		<where>
			<if test="creditNum != null  and creditNum != ''"> and credit_num = #{creditNum}</if>
			<if test="userId != null "> and user_id = #{userId}</if>
			<if test="creditType != null  and creditType != ''"> and credit_type = #{creditType}</if>
			<if test="id != null  and id != ''"> and id = #{id}</if>
		</where>
	</select>


</mapper> 