<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TblGoodsUserMapper">
    
    <resultMap type="TblGoodsUser" id="TblGoodsUserResult">
        <result property="id"    column="id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="userId"    column="user_id"    />
        <result property="nums"    column="nums"    />
        <result property="state"    column="state"    />
        <result property="total"    column="total"    />
        <result property="username"    column="username"    />
        <result property="coverPicture"    column="cover_picture"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectTblGoodsUserVo">
        select id, goods_id, user_id, total,nums,state, update_time, update_by, create_time, create_by from tbl_goods_user
    </sql>

    <select id="selectTblGoodsUserList" parameterType="TblGoodsUser" resultMap="TblGoodsUserResult">
<!--        <include refid="selectTblGoodsUserVo"/>-->
           select gu.*,g.name,g.cover_picture,u.name as username ,u.phonenumber
           from tbl_goods_user gu
           join tbl_goods g on gu.goods_id=g.id
            join sys_user u on u.user_id = gu.user_id
        <where>  
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="userId != null "> and gu.user_id = #{userId}</if>
            <if test="nums != null "> and nums = #{nums}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="username != null "> and u.name = #{username}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTblGoodsUserById" parameterType="Long" resultMap="TblGoodsUserResult">
        <include refid="selectTblGoodsUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTblGoodsUser" parameterType="TblGoodsUser">
        insert into tbl_goods_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="nums != null">nums,</if>
            <if test="total != null">total,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="nums != null">#{nums},</if>
            <if test="total != null">#{total},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateTblGoodsUser" parameterType="TblGoodsUser">
        update tbl_goods_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="total != null">total = #{total},</if>
            <if test="state != null">state = #{state},</if>
            <if test="nums != null">nums = #{nums},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTblGoodsUserById" parameterType="Long">
        delete from tbl_goods_user where id = #{id}
    </delete>

    <delete id="deleteTblGoodsUserByIds" parameterType="String">
        delete from tbl_goods_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>