<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TblRecommendMapper">
    
    <resultMap type="TblRecommend" id="TblRecommendResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="content"    column="content"    />
        <result property="lecturerName"    column="lecturer_name"    />
        <result property="theme"    column="theme"    />
        <result property="status"    column="status"    />
        <result property="likeCount"    column="like_count"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectTblRecommendVo">
        select id, content, user_id,lecturer_name, nick_name,theme, status, like_count, update_time, update_by, create_time, create_by from tbl_recommend
    </sql>

    <select id="selectTblRecommendList" parameterType="TblRecommend" resultMap="TblRecommendResult">
<!--       <include refid="selectTblRecommendVo"/>-->
           select tr.*,avatar,nick_name
           from tbl_recommend tr
           join  sys_user  su on su.user_id=tr.user_id
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="lecturerName != null  and lecturerName != ''"> and lecturer_name like concat('%', #{lecturerName}, '%')</if>
            <if test="theme != null  and theme != ''"> and theme = #{theme}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="likeCount != null "> and like_count = #{likeCount}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTblRecommendById" parameterType="Long" resultMap="TblRecommendResult">
<!--   <include refid="selectTblRecommendVo"/>-->
        select tr.*,avatar,nick_name
        from tbl_recommend tr
        join  sys_user  su on su.user_id=tr.user_id
        where id = #{id}
    </select>
        
    <insert id="insertTblRecommend" parameterType="TblRecommend">
        insert into tbl_recommend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="content != null">content,</if>
            <if test="lecturerName != null">lecturer_name,</if>
            <if test="theme != null">theme,</if>
            <if test="status != null">status,</if>
            <if test="likeCount != null">like_count,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="content != null">#{content},</if>
            <if test="lecturerName != null">#{lecturerName},</if>
            <if test="theme != null">#{theme},</if>
            <if test="status != null">#{status},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateTblRecommend" parameterType="TblRecommend">
        update tbl_recommend
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null "> user_id = #{userId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="lecturerName != null">lecturer_name = #{lecturerName},</if>
            <if test="theme != null">theme = #{theme},</if>
            <if test="status != null">status = #{status},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTblRecommendById" parameterType="Long">
        delete from tbl_recommend where id = #{id}
    </delete>

    <delete id="deleteTblRecommendByIds" parameterType="String">
        delete from tbl_recommend where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>