<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TblSpecialColumnMapper">
    
    <resultMap type="TblSpecialColumn" id="TblSpecialColumnResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="kind"    column="kind"    />
        <result property="summary"    column="summary"    />
        <result property="content"    column="content"    />
        <result property="img"    column="img"    />
        <result property="likeCount"    column="like_count"    />
        <result property="viewsNums"    column="views_nums"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectTblSpecialColumnVo">
        select id, title, kind, summary, content, like_count, views_nums, update_time, img,update_by, create_time, create_by from tbl_special_column
    </sql>

    <select id="selectTblSpecialColumnList" parameterType="TblSpecialColumn" resultMap="TblSpecialColumnResult">
        <include refid="selectTblSpecialColumnVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="kind != null "> and kind = #{kind}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="likeCount != null "> and like_count = #{likeCount}</if>
            <if test="viewsNums != null "> and views_nums = #{viewsNums}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectTblSpecialColumnById" parameterType="Long" resultMap="TblSpecialColumnResult">
        <include refid="selectTblSpecialColumnVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTblSpecialColumn" parameterType="TblSpecialColumn">
        insert into tbl_special_column
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="kind != null">kind,</if>
            <if test="summary != null">summary,</if>
            <if test="content != null">content,</if>
            <if test="likeCount != null">like_count,</if>
            <if test="viewsNums != null">views_nums,</if>
            <if test="img != null">img,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="kind != null">#{kind},</if>
            <if test="summary != null">#{summary},</if>
            <if test="content != null">#{content},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="img != null">#{img},</if>
            <if test="viewsNums != null">#{viewsNums},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateTblSpecialColumn" parameterType="TblSpecialColumn">
        update tbl_special_column
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="kind != null">kind = #{kind},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="content != null">content = #{content},</if>
            <if test="img != null">img = #{img},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="viewsNums != null">views_nums = #{viewsNums},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTblSpecialColumnById" parameterType="Long">
        delete from tbl_special_column where id = #{id}
    </delete>

    <delete id="deleteTblSpecialColumnByIds" parameterType="String">
        delete from tbl_special_column where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>