<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TblUserActivityMapper">
    
    <resultMap type="TblUserActivity" id="TblUserActivityResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="activityId"    column="activity_id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>


    <resultMap type="UserActivity" id="UserActivityResult">
        <id property="userId" column="user_id"/>
        <result property="activityId" column="activity_id"/>
        <result property="status" column="status"/>
        <result property="userImg2" column="user_img2"/>
        <result property="speakerName" column="speaker_name"/>
        <result property="hbKeyword" column="hb_keyword"/>
        <result property="lat" column="lat"/>
        <result property="address" column="address"/>
        <result property="hot" column="hot"/>
        <result property="hbNum" column="hb_num"/>
        <result property="cityname" column="cityname"/>
        <result property="details" column="details"/>
        <result property="img" column="img"/>
        <result property="type" column="type"/>
        <result property="state" column="state"/>
        <result property="isClose" column="is_close"/>
        <result property="isEnd" column="is_end"/>
    </resultMap>


    <sql id="selectTblUserActivityVo">
        select id, user_id, activity_id, status, create_time, create_by, update_time, update_by from tbl_user_activity
    </sql>

    <select id="selectTblUserActivityList" parameterType="TblUserActivity" resultMap="TblUserActivityResult">
        <include refid="selectTblUserActivityVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="activityId != null "> and activity_id = #{activityId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTblUserActivityById" parameterType="Long" resultMap="TblUserActivityResult">
        <include refid="selectTblUserActivityVo"/>
        where id = #{id}
    </select>
    <select id="selectTblUserActivityByUA" resultType="com.ruoyi.system.domain.TblUserActivity">
        <include refid="selectTblUserActivityVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="activityId != null "> and activity_id = #{activityId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    <select id="selectMyActivity" resultType="com.ruoyi.system.domain.UserActivity"  resultMap="UserActivityResult">
        select   tbl_user_activity.user_id, activity_id, status,  details, img, speaker_name,hot, hb_num,  type, state, is_end,is_close,time, address, hb_keyword, hong, user_img2, cityname,lat
        from  tbl_user_activity
        join  tbl_activity on tbl_activity.id= tbl_user_activity.activity_id
        where  tbl_user_activity.user_id=#{userId}
order by lat desc

    </select>

    <insert id="insertTblUserActivity" parameterType="TblUserActivity">
        insert into tbl_user_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="activityId != null">activity_id,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="activityId != null">#{activityId},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateTblUserActivity" parameterType="TblUserActivity">
        update tbl_user_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where user_id=#{userId} and activity_id=#{activityId}
    </update>

    <delete id="deleteTblUserActivityById" parameterType="Long">
        delete from tbl_user_activity where id = #{id}
    </delete>

    <delete id="deleteTblUserActivityByIds" parameterType="String">
        delete from tbl_user_activity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTblUserActivityByActivityIds" parameterType="String">
        delete from tbl_user_activity where activity_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>